<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shopping Cart</title>
    <link rel="stylesheet" type="text/css" href="/bootstrap4/css/bootstrap.css">
</head>
<body>
<div class="container">
<p>
    <a href="/shop" class="btn btn-primary">Shop</a>
</p>
<h1>Your Cart</h1>
<form th:action="@{/shop}" th:object="${cart}" method="post" class="form-group">
    <h3>Total Items: <span th:text="${cart.countItemQuantity()}"></span></h3>
    <h3>Total Products: <span th:text="${cart.countProductQuantity()}"></span></h3>
    <table 2w@22border="1" class="table table-striped " th:if="${cart!=null&&cart.getProducts().size()>0}">
        <thead class="bg-light">
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product: ${cart.products}">
            <td>
            <a th:text="${product.getKey().name}" th:href="@{/view/__${product.getKey().id}__}"></a>
            </td>
            <td>
                <a class="btn-success btn" id="decrease_button" th:href="@{/minus/__${product.getKey().id}__(action='show')}" th:text="${'-'}"></a>
                <span th:text="${product.getValue()}"></span>
                <a class="btn-success btn" id="increase_button" th:href="@{/add/__${product.getKey().id}__(action='show')}"
                   th:text="${'+'}"></a>
            </td>
            <td th:text="${product.getKey().price}"></td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td th:text="${cart.countTotalPayment()}"></td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-danger" role="alert" th:if="${cart==null||cart.getProducts().size()==0}">
        <strong>Cart empty, please shopping</strong>
    </div>
</form>
    <a href="/clear" class="btn btn-success">Buy all</a>
</div>
</body>
</html>