
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body>
<h1>List Customer</h1>
<a href="/create" methods="get">Create</a>
<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
    </tr>
    <tr th:each="customer:${customerList}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.name}"></td>
    </tr>
</table>
</body>
</html>